body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: monospace, serif;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    /* TODO Solve this in HTML */
}

a,
button,
input,
select {
    pointer-events: auto;
}

.dg.ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important;
    /* TODO Solve this in HTML */
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

#notSupported {
    width: 50%;
    background-color: #f00;
    margin: 20px auto auto;
    padding: 10px;
}

/* Usernames */
#usernames {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#usernames span {
    background-color: rgba(255, 255, 255, .5);
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

#position {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
}

/* Copyleft */
.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.copyleft::after {
    content: "\00a9";
}

a.show-link {
    text-decoration: none;
    color: white;
    box-shadow: inset 0 -1px #0b5ed7;
    transition: .2s box-shadow;
}

a.show-link:hover {
    color: white;
    box-shadow: inset 0 -2em #0b5ed7;
}